# Virtual environment
.venv/
venv/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS files
.DS_Store

# VSCode settings (optional, if you want clean repo)
.vscode/

# Logs and runtime files
*.log
*.sqlite3
*.db

# Streamlit's app state
.streamlit/
